{% extends 'users/base.html' %}

{% block content %}
<h2>Change Password</h2>
<div class="card-body"
     style="width: 60rem; margin: auto; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 10px #ccc;">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    <div class="card-footer"
         style="text-align: center; margin-top: 10px; border-top: 1px solid #A9977C; padding: 10px; border-radius: 0 0 5px 5px;">
        <button type="submit" class="btn btn-success" style="background-color: #A9977C">Change Password</button>
    </div>
</div>
{% endblock %}
